.background{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  z-index: -1;
  background-size: cover;
}

.background_video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  z-index: -1;
  object-fit: cover;
}